{{ if eq .chezmoi.hostname "yov3bc" "okzf68" }}
[profile level-playground-admin]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=515242615212
sso_role_name=AdministratorAccess

[profile platform-dev-admin]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=994932143468
sso_role_name=EKSAdminAccess

[profile platform-stage-admin]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=848475168843
sso_role_name=EKSEngineeringAccess_stage

[profile platform-prod-admin]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=167205424669
sso_role_name=EKSEngineeringAccess_prod

[profile platform-dev]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=905418337205
sso_role_name=AdministratorAccess

[profile level-consumer-main]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=658822051532
sso_role_name=ViewOnlyAccess

[profile level-firmware-s3-rw]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=658822051532
sso_role_name=firmware-s3-rw

[profile level-platform-dev-assume-only]
sso_start_url=https://d-9a671990ce.awsapps.com/start
sso_region=us-east-2
sso_account_id=905418337205
sso_role_name=RoleAssumeOnly

{{ else if eq .chezmoi.hostname "hlru5i" -}}
[profile retail-admin]
mfa_serial = arn:aws:iam::519160639284:mfa/Authenticator
region = us-east-2

[profile kittencat-admin]
mfa_serial = arn:aws:iam::652074930137:mfa/hlru5i-kittencat-admin
region = us-east-2
{{ end }}
