[tools]
"go:github.com/isaacphi/mcp-language-server" = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"go:mvdan.cc/gofumpt" = "latest"
"npm:@anthropic-ai/claude-code" = "latest"
"npm:task-master-ai" = "latest"

1password = "latest"
age = "latest"
aws-cli = "latest"
aws-vault = "latest"
cargo-binstall = "latest"
chezmoi = "latest"
dart = "latest"
difftastic = "latest"
direnv = "latest"
dotnet = "latest"
dust = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
go = "prefix:1.24"
golangci-lint = "latest"
gradle = "latest"
helm = "latest"
java = "prefix:corretto-23"
jq = "latest"
jujutsu = "latest"
just = "latest"
k9s = "latest"
ktlint = "latest"
neovim = "latest"
node = "lts"
oapi-codegen = "latest"
opentofu = "latest"
pandoc = "latest"
pnpm = "latest"
python = "prefix:3.12"
rclone = "latest"
restic = "latest"
ripgrep = "latest"
ruby = "prefix:3.4"
rust = "latest"
starship = "latest"
tmux = "latest"
uv = "latest"
yq = "latest"
zoxide = "latest"

{{ if eq .chezmoi.hostname "hlru5i" }}
ffmpeg = "latest"
flutter = "latest"
yt-dlp = "latest"
{{ end }}

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]
