<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.asimi.atuindaemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/asimi/bin/atuin-daemon.sh</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/asimi/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/asimi/logs/atuindaemon.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/asimi/logs/atuindaemon.log</string>
    <key>Nice</key>
    <integer>10</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>LowPriorityBackgroundIO</key>
    <true/>
    <key>ResourceLimits</key>
    <dict>
        <key>CPUTime</key>
        <integer>86400</integer>
        <key>ReadBytesPerSecond</key>
        <integer>1048576</integer>
        <key>WriteBytesPerSecond</key>
        <integer>1048576</integer>
    </dict>
</dict>
</plist>
