sourceDir = {{ .chezmoi.config.sourceDir | quote }}

[sourceVCS]
command = "git"

[edit]
command = "code"
args = ["--wait"]

[diff]
command = "meld"
args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[merge]
command = "meld"

[data]
sourceDir = "~/.dotfiles/chezmoi"
