sourceDir = {{ .chezmoi.config.sourceDir | quote }}

[sourceVCS]
command = "git"

[edit]
command = "code" # or your preferred editor

[cd]
command = "code" # or your preferred editor

[data]
sourceDir = "~/.dotfiles/chezmoi"
