# uv
export PATH="$HOME/.local/bin:$PATH"

{{ if eq .chezmoi.hostname "yov3bc" "okzf68" -}}
export PATH="$HOME/workplace/platform-tools/shell:$PATH"
export PATH="/opt/homebrew/opt/postgresql@13/bin:$PATH"
{{ end -}}