
# Created by `pipx` on 2024-07-17 13:23:55
export PATH="$PATH:/Users/asimi/Library/Python/3.9/bin"

# Created by `pipx` on 2024-07-17 13:23:56
export PATH="$PATH:/Users/asimi/.local/bin"


# Added by Toolbox App
export PATH="$PATH:/Users/asimi/Library/Application Support/JetBrains/Toolbox/scripts"

export PATH="$PATH:$HOME/go/bin"

eval "$(mise activate zsh)"
