[user]
name = Asim Ihsan
{{ if eq .chezmoi.hostname "yov3bc" "okzf68" -}}
email = asim.ihsan@level.co
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOdZS3iTbk1bmMq1Oq9kFySUPbfa5bM41dAhH+og89or
{{ end -}}
{{ if eq .chezmoi.hostname "hlru5i" -}}
email = ssh@sshemail.ihsan.io
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+6ch0i+pdf+48pQ/S180rtxe9yELTC9w/GYBZoRl89
{{ end }}
{{ if eq .chezmoi.hostname "im9ibk" -}}
email = ssh@sshemail.ihsan.io
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+6ch0i+pdf+48pQ/S180rtxe9yELTC9w/GYBZoRl89
{{ end }}

# https://blog.gitbutler.com/how-git-core-devs-configure-git/

# clearly makes git better

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[core]
        excludesfile = ~/.gitignore_global
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
        # fsmonitor = true
        # untrackedCache = true
[merge]
        # (just 'diff3' if git version < 2.3)
        # conflictstyle = zdiff3
[pull]
        # rebase = true

[alias]
co = checkout
br = branch
ci = commit
st = status
unstage = reset HEAD --
last = log -1 HEAD
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
append = town append
compress = town compress
contribute = town contribute
diff-parent = town diff-parent
hack = town hack
observe = town observe
park = town park
prepend = town prepend
propose = town propose
repo = town repo
set-parent = town set-parent
ship = town ship
sync = town sync
delete = town delete
rename = town rename

[color]
branch = auto
diff = auto
interactive = auto
status = auto

[pull]
ff = only
rebase = true

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[remote "origin"]
tagopt = --tags

[oh-my-zsh]
hide-status = 1

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
gpgsign = true
template = /Users/asimi/.gitmessage

#[diff]
#external = /usr/bin/env DFT_PARSE_ERROR_LIMIT=100 difft

[core]
autocrlf = false
editor = nvim
pager = less -R

[pager]
    diff = less -R
    log  = less -R
    show = less -R

[interactive]
# diffFilter = delta --color-only

[delta]
navigate = true    # use n and N to move between diff sections

# delta detects terminal colors automatically; set one of these to disable auto-detection
# dark = true
# light = true

[merge]
conflictstyle = zdiff3

[url "https://github.com/"]
	insteadOf = git://github.com/
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
