# Ensure correct Homebrew completions path for Apple Silicon
fpath=(/opt/homebrew/share/zsh/site-functions ${fpath:#/usr/local/share/zsh/site-functions})
fpath+=($DEVBOX_GLOBAL_PREFIX/share/zsh/site-functions $DEVBOX_GLOBAL_PREFIX/share/zsh/$ZSH_VERSION/functions $DEVBOX_GLOBAL_PREFIX/share/zsh/vendor-completions)
autoload -U compinit && compinit -u

eval "$(starship init zsh)"

# add devbox bits to zsh
eval "$(devbox global shellenv)"

export PATH="$HOME/.bin:$HOME/bin:$PATH"
export PATH="/usr/local/bin:$HOME/bin:$PATH"

source <(fzf --zsh)

export ANDROID_NDK=/opt/homebrew/share/android-ndk
export ANDROID_NDK_HOME=/opt/homebrew/share/android-ndk
export NDK_HOME="$ANDROID_NDK_HOME"

export ANDROID_HOME=$HOME/Library/Android/sdk

# export PATH="/opt/homebrew/opt/llvm/bin:$PATH"
# export LDFLAGS="-L/opt/homebrew/opt/llvm/lib"
# export CPPFLAGS="-I/opt/homebrew/opt/llvm/include"

export JAVA_HOME=$($HOME/bin/set-java-home.sh)
# export GRAALVM_HOME="/Library/Java/JavaVirtualMachines/graalvm-ce-java17-22.3.0/Contents/Home"
# export PATH="${PATH}":"${GRAALVM_HOME}"/bin
# export PATH=$HOME/.emacs.d/bin:"$PATH"

# brew install coreutils

# brew install vivid
export LS_COLORS="$(vivid generate molokai)"

autoload -U +X bashcompinit && bashcompinit

# Hishtory Config:
# export PATH="$PATH:/Users/asimi/.hishtory"
# source /Users/asimi/.hishtory/config.zsh

# Better history
# bindkey -s '^e' "hishtory export | tac | awk '!a[\$0]++' | tac | fzf --scheme=history --tac --no-sort --preview 'echo {}' --preview-window down:5:wrap --bind '?:toggle-preview'^M"

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

export DOTNET_CLI_TELEMETRY_OPTOUT=1

[[ -s "/Users/asimi/.gvm/scripts/gvm" ]] && source "/Users/asimi/.gvm/scripts/gvm"

export PATH="${PATH}":/Users/asimi/Library/Application\ Support/JetBrains/Toolbox/scripts/
export PATH=$PATH:$(go env GOPATH)/bin

export PATH="$PATH":"$HOME/.pub-cache/bin"
export PATH=$PATH:/Users/asimi/.local/bin:/Users/asimi/bin

# -----------------------------------------------------------------------------
#   Homebrew paths.
# -----------------------------------------------------------------------------
# Get the Homebrew base installation directory once
brew_prefix=$(brew --prefix)

# Update PATH for sqlite, tidy-html5, poetry, and protobuf
export PATH="${brew_prefix}/opt/sqlite/bin:$PATH"
export PATH="$PATH:${brew_prefix}/opt/tidy-html5/bin"
export PATH="${brew_prefix}/opt/protobuf/bin:$PATH"

# Set PLANTUML_JAR
export PLANTUML_JAR="${brew_prefix}/opt/plantuml/libexec/plantuml.jar"
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
#  Secrets from 1Password.
# -----------------------------------------------------------------------------
# Define a function to load a secret from 1Password and export it as an environment variable
load_secret() {
    local secret_path=$1
    local var_name=$2
    export "$var_name"="$(op read --account my.1password.com "op://$secret_path")"
}

# Define a function to load all secrets
load_all_secrets() {
    load_secret "Private/D2 API token/credential" "TSTRUCT_TOKEN"
    load_secret "Private/LocalStack Auth Token/password" "LOCALSTACK_AUTH_TOKEN"
    load_secret "Private/OpenAPI API key work/password" "OPENAI_API_KEY"
    load_secret "Private/Anthropic API key/credential" "ANTHROPIC_API_KEY"
    load_secret "Private/Bing search API key/password" "BING_SEARCH_API_KEY"
    load_secret "Private/Perplexity API key/credential" "PERPLEXITY_API_KEY"
    load_secret "Private/Claude MCP server GitHub Personal Access Token/token" "GITHUB_PERSONAL_ACCESS_TOKEN"
    load_secret "Private/DEEPSEEK_API_KEY/password" "DEEPSEEK_API_KEY"

    load_secret "Private/SumoLogic Level/Access ID" "SUMOLOGIC_ACCESS_ID"
    load_secret "Private/SumoLogic Level/Access Key" "SUMOLOGIC_ACCESS_KEY"
    load_secret "pvsttlycpwhbo6vjsedtjbgyc4/mdu_pypi_readonly/username" "POETRY_HTTP_BASIC_DEFAULT_USERNAME"
    load_secret "pvsttlycpwhbo6vjsedtjbgyc4/mdu_pypi_readonly/password" "POETRY_HTTP_BASIC_DEFAULT_PASSWORD"
    load_secret "Private/Level Jira API token/password" "JIRA_API_TOKEN"
    load_secret "Private/Level Jira API token/server" "JIRA_API_SERVER"
    load_secret "Private/Level Jira API token/email" "JIRA_API_EMAIL"
    load_secret "Private/Notion API key for Level workspace/credential" "NOTION_KEY"
    load_secret "Private/Linear API key/password" "LINEAR_API_KEY"
    load_secret "Private/Iterable Level/password" "ITERABLE_API_KEY"

    echo "All secrets have been loaded."
}

# You can now call `load_all_secrets` manually whenever you need to populate the environment variables
# -----------------------------------------------------------------------------

alias ll='eza -lh --git'
alias ls="gls --color"
alias du="dust"
alias pmc='coyote test'
alias zstd=$(brew --prefix zstd)/bin/zstd
eval "$(gh copilot alias -- zsh)"
alias vim=nvim
alias lg='GIT_CONFIG_GLOBAL=~/.gitconfig-lazygit lazygit'

export _ZO_RESOLVE_SYMLINKS=1  # resolve symlinks
eval "$(zoxide init zsh)"
# alias cd='z'

eval "$(direnv hook zsh)"

# -----------------------------------------------------------------------------
#  atuin configuration.
# -----------------------------------------------------------------------------
if [[ $options[zle] = on ]]; then
  eval "$(atuin init zsh)"
fi
# -----------------------------------------------------------------------------

. "$HOME/.cargo/env"

export PATH="$PATH:/Users/asimi/.dotnet/tools"

source <(erd --completions zsh)

export PATH="/opt/homebrew/opt/protobuf@3/bin:$PATH"

export LDFLAGS="-L/opt/homebrew/opt/libiconv/lib"
export CPPFLAGS="-I/opt/homebrew/opt/libiconv/include"

alias ar=/usr/bin/ar

. $HOME/bin/logging.sh

if [[ -z "$LOGGING_STARTED" ]]; then
    export LOGGING_STARTED=1
    reap_orphaned_processes
    record_session
    rotate_logs
fi

export EDITOR=vim
