[user]
name = Asim Ihsan
{{ if eq .chezmoi.hostname "yov3bc" -}}
email = asim.ihsan@level.co
{{ else }}
email = ssh@sshemail.ihsan.io
{{ end -}}

[user]
{{ if eq .chezmoi.hostname "yov3bc" -}}
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOdZS3iTbk1bmMq1Oq9kFySUPbfa5bM41dAhH+og89or
{{ else }}
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+6ch0i+pdf+48pQ/S180rtxe9yELTC9w/GYBZoRl89
{{ end }}

[alias]
co = checkout
br = branch
ci = commit
st = status
unstage = reset HEAD --
last = log -1 HEAD
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
append = town append
compress = town compress
contribute = town contribute
diff-parent = town diff-parent
hack = town hack
kill = town kill
observe = town observe
park = town park
prepend = town prepend
propose = town propose
rename-branch = town rename-branch
repo = town repo
set-parent = town set-parent
ship = town ship
sync = town sync

[color]
branch = auto
diff = auto
interactive = auto
status = auto

[pull]
ff = only
rebase = true

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[credential]
helper = cache --timeout=3600
helper =
helper = /usr/local/share/gcm-core/git-credential-manager

[init]
defaultBranch = main

[remote "origin"]
tagopt = --tags

[diff]
external = difft

[push]
autoSetupRemote = true

[oh-my-zsh]
hide-status = 1

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
gpgsign = true
template = /Users/asimi/.gitmessage

[core]
autocrlf = false
editor = nvim

[git-town]
sync-feature-strategy = rebase
