# hostname: {{ .chezmoi.hostname }}

Host * !127.0.0.1 !localhost
  AddKeysToAgent yes
  UseKeychain yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  IdentityFile ~/.ssh/id_ed25519

{{ if eq .chezmoi.hostname "yov3bc" }}
Host bastion-dev
    HostName ctdev-bastion.level.co
    User asim.ihsan

Host control.uswest2a.level.dev
    User asim.ihsan
    ProxyJump bastion-dev
{{ end -}}
