enter_accept = true
filter_mode_shell_up_key_binding = "directory"
hostname = "{{ .chezmoi.hostname }}"
inline_height = 20
search_mode = "skim"
style = "full"
update_check = false

[sync]
records = true

[daemon]
enabled = false
sync_frequency = 300

[search]
strategy = "fuzzy"