hostname = "{{ .chezmoi.hostname }}"
style = "full"
inline_height = 20
enter_accept = true
filter_mode_shell_up_key_binding = "directory"

[sync]
records = true

[daemon]
enabled = false
sync_frequency = 300

[search]
strategy = "exact"    # or exact, etc.
limit = 100           # how many results to show