[user]
name = "Asim Ihsan"

{{ if eq .chezmoi.hostname "yov3bc" "okzf68" -}}
email = "asim.ihsan@level.co"
{{ end -}}
{{ if eq .chezmoi.hostname "hlru5i" -}}
email = "ssh@sshemail.ihsan.io"
{{ end }}
{{ if eq .chezmoi.hostname "im9ibk" -}}
email = "ssh@sshemail.ihsan.io"
{{ end }}

[git]
auto-local-bookmarks = true

[remotes.origin]
auto-track-bookmarks = 'glob:*'

[signing]
behavior = "own"
backend = "ssh"

{{ if eq .chezmoi.hostname "yov3bc" "okzf68" -}}
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOdZS3iTbk1bmMq1Oq9kFySUPbfa5bM41dAhH+og89or"
{{ end -}}
{{ if eq .chezmoi.hostname "hlru5i" -}}
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+6ch0i+pdf+48pQ/S180rtxe9yELTC9w/GYBZoRl89"
{{ end }}
{{ if eq .chezmoi.hostname "im9ibk" -}}
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+6ch0i+pdf+48pQ/S180rtxe9yELTC9w/GYBZoRl89"
{{ end }}

[signing.backends.ssh]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[ui]
default-command = "log"
diff-formatter = ["difft", "--color=always", "$left", "$right"]

[revsets]
log = "connected(@ | trunk() | my_bookmarks())"

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true

[merge-tools.intellij]
program = "/Users/asimi/Applications/IntelliJ IDEA Ultimate.app/Contents/MacOS/idea"
merge-args = ["merge", "$left", "$right", "$base", "$output"]

[merge-tools.gitpatch]
program = "sh"
edit-args = ["-c", '''
  set -eu
  rm -f "$right/JJ-INSTRUCTIONS"
  git -C "$left" init -q
  git -C "$left" add -A
  git -C "$left" commit -q -m baseline --allow-empty
  mv "$left/.git" "$right"
  git -C "$right" add --intent-to-add --ignore-removal .
  git -C "$right" add -p
  git -C "$right" diff-index --quiet --cached HEAD && { echo "No changes done, aborting split."; exit 1; }
  git -C "$right" commit -q -m split
  git -C "$right" reset -q --hard
''']

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'my_bookmarks()' = "bookmarks('asimihsan/*')"

# set all remote bookmarks (commits pushed to remote branches) to be immutable
'immutable_heads()' = "builtin_immutable_heads() & remote_bookmarks()"

[aliases]
dds = ["diff", "--tool", "difft-s"]
ddi = ["diff", "--tool", "difft-i"]
di = ["diff", "--tool", "idea"]
sm = ["b", "s", "main"]
smb = ["b", "s", "main", "-B"]
gp = ["git", "push"]
gf = ["git", "fetch"]
gpn = ["git", "push", "--allow-new"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]

# jj pc -> run pre-commit on the working copy
pc = ["util", "exec", "--", "pre-commit", "run",
      "--all-files"]

# jj pc:branch -> run pre-commit only on files changed since main
"pc:branch" = ["util", "exec", "--", "pre-commit", "run",
               "--from-ref", "origin/main",
               "--to-ref",   "HEAD"]

# Quick view of your current branch
l = ["log", "-r", "@ | @- | trunk()"]

# View all immutable heads, and trunk
li = ["log", "-r", "@ | immutable_heads() | trunk()"]

# View all your visible branches
{{ if eq .chezmoi.hostname "yov3bc" "okzf68" -}}
mine = ["log", "-r", "author('asim.ihsan@level.co') & visible_heads()"]
{{ end -}}
{{ if eq .chezmoi.hostname "hlru5i" -}}
mine = ["log", "-r", "author('ssh@sshemail.ihsan.io') & visible_heads()"]
{{ end }}

# View your open branches plus trunk()
{{ if eq .chezmoi.hostname "yov3bc" "okzf68" -}}
work = ["log", "-r", "connected(@ | trunk() | my_bookmarks())"]
{{ end -}}
{{ if eq .chezmoi.hostname "hlru5i" -}}
work = ["log", "-r", "connected(@ | trunk() | my_bookmarks())"]
{{ end }}

# See the path between your working copy and master
path = ["log", "-r", "@ | trunk() | remote_bookmarks('main') | remote_bookmarks('master')"]
