[user]
name = "Asim Ihsan"

{{ if eq .chezmoi.hostname "yov3bc" -}}
email = "asim.ihsan@level.co"
{{ end -}}
{{ if eq .chezmoi.hostname "hlru5i" -}}
email = "ssh@sshemail.ihsan.io"
{{ end }}

[git]
auto-local-bookmarks = true

[signing]
behavior = "own"
backend = "ssh"

{{ if eq .chezmoi.hostname "yov3bc" -}}
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOdZS3iTbk1bmMq1Oq9kFySUPbfa5bM41dAhH+og89or"
{{ end -}}
{{ if eq .chezmoi.hostname "hlru5i" -}}
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+6ch0i+pdf+48pQ/S180rtxe9yELTC9w/GYBZoRl89"
{{ end }}

[signing.backends.ssh]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[ui]
default-command = "log"
diff.tool = ["difft", "--color=always", "$left", "$right"]

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true

[merge-tools.intellij]
program = "/Users/asimi/Applications/IntelliJ IDEA Ultimate.app/Contents/MacOS/idea"
merge-args = ["merge", "$left", "$right", "$base", "$output"]

[aliases]
dds = ["diff", "--tool", "difft-s"]
ddi = ["diff", "--tool", "difft-i"]
di = ["diff", "--tool", "idea"]
sm = ["b", "s", "main"]
smb = ["b", "s", "main", "-B"]
gp = ["git", "push"]
gf = ["git", "fetch"]
gpn = ["git", "push", "--allow-new"]
